
    <ul class="pagination pagination-sm custom-page-2">
        {% if groupowner_id != 0 %}
            {% for groupowner in groupowners %}
                {% if groupowner.id == groupowner_id %}
                    <li class="active">
                        {% include groupowner_pagination_url_html %}
                    </li>
                {% else %}
                    <li>
                        {% include groupowner_pagination_url_html %}
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
