<ul class="pagination pagination-sm custom-page">
    {% if groupowner_id != 0 %}
        {% for groupowner in groupowners %}
            {% if groupowner.id == groupowner_id %}
                <li class="active">
                    <a href="{% url index_url groupowner.id filter %}">{{groupowner.name}}</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url index_url groupowner.id filter %}">{{groupowner.name}}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
