<nav aria-label="User Navigation">

    {% if site_user.is_superuser %}
        {% include superuser_pagination_list_html %}
    {% elif site_user.is_groupowner and not site_user.is_superuser %}
        {% include groupowner_pagination_list_html %}
    {% endif %}

    
    {% if filter == 0 %}

    {% elif filter == 1 %}
        {% if site_user.is_superuser %}             
            {% include shared_groupowner_pagination_list_html %}
        {% elif site_user.is_groupowner and not site_user.is_superuser%}
            {% include shared_poolgroup_pagination_list_html %}
        {% endif %}

    {% elif filter == 2 or filter == 3 %}
        {% if site_user.is_superuser %}
            {% include shared_poolgroup_pagination_list_html %}
        {% elif site_user.is_groupowner and not site_user.is_superuser %}
            {% include shared_poolowner_pagination_list_html %}
        {% endif %}

    {% elif filter == 4 or filter == 5 or filter == 6 or filter == 7 %}
        {% if site_user.is_superuser %}
            {% include shared_poolowner_pagination_list_html %}   
        {% endif %}
        
    {% endif %}
    

</nav>
