<ul class="pagination pagination-sm custom-page-2">
    {% if poolgroup_id != 0 %}
        {% for poolgroup in poolgroups %}
            {% if poolgroup.id == poolgroup_id %}
                <li class="active">
                    <a href="{% url index_url poolgroup.id  groupowner_id filter %}">{{poolgroup.name}}</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url index_url poolgroup.id groupowner_id filter %}">{{poolgroup.name}}</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
