<ul class="pagination pagination-sm custom-page-2" id="pg_id">
    {% if poolgroup_id != 0 %}
        {% for poolgroup in poolgroups %}
            {% if poolgroup.id == poolgroup_id %}
                <li class="active">
                        {% include poolgroup_pagination_link_html %}
                </li>
            {% else %}
                <li>
                        {% include poolgroup_pagination_link_html %}
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
