    <ul class="pagination pagination-sm custom-page-2" id="sport_id">
        {% if sport_id != 0 %}
            {% for sport in sports %}
                {% if sport.id == sport_id %}
                    <li class="active">
                        {% include sport_pagination_link_html %}
                    </li>
                {% else %}
                    <li>
                        {% include sport_pagination_link_html %}
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
