{% extends "app/layout.html" %}

{% block content %}
<div id="{{partial_view_id}}" class="row">

    <div class="row">
        <div class="col-lg-12">
            <h3 class="partial-view-title">{{title}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">          
            {% include modelstate_html %}
        </div>
    </div>

    <div class="row">
        {% include form_template_html %}
    </div>


    <div class="row">
        <div class="col-lg-12">
            {% include index_link_html%}
        </div>
    </div>


</div>
{% endblock %}

{% block scripts %}
{% load staticfiles %}
{% for script in scripts %}
<script src="{% static script %}"></script>
{% endfor %}
{% endblock %}