<ul class="dropdown-menu user-option-line-break">
    <li><a href="{% url 'groupowner:index' 0 %}" class="user-option">Group Owners</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="../pooltypes/index.html" class="user-option">Pool Types</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="../cronjobs/index.html" class="user-option">Cron Jobs</a></li>
    <li><a href="../cronjobtypes/index.html" class="user-option">Cron Job Types</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="../seasons/index.html" class="user-option">Seasons</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="../schedules/index.html" class="user-option">Schedules</a></li>
    <li><a href="../scheduletypes/index.html" class="user-option">Schedule Types</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="{% url 'superuser:index' %}" class="user-option">Super Users</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="../superuseroptions/index.html" class="user-option">Super User Options</a></li>
    <li><a href="../groupowneroptions/index.html" class="user-option">Group Owner Options</a></li>
    <li><a href="../poolowneroptions/index.html" class="user-option">Pool Owner Options</a></li>
</ul>
