<nav aria-label="User Navigation">

    {% if site_user.is_superuser %}
        {% include superuser_pagination %}
    {% else %}
        {% include groupowner_pagination %}
    {% endif %}

    {% if filter == none %}
    {% else %}
        {% if filter == 0 %}

        {% elif filter == 1 %}
            <span>    </span>     
            {% include shared_groupowner_pagination %}
        {% elif filter == 2 or filter == 3 %}
            <span>    </span>
            {% include shared_poolgroup_pagination %}
        {% elif filter == 4 or filter == 5 or filter == 6 or filter == 7 %}
            <span>    </span>
            {% include shared_poolowner_pagination %}
        {% endif %}
    {% endif%}

</nav>
