{% extends "app/layout.html" %}

{% block content %}
<div id="{{partial_view_id}}" class="row">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="partial-view-title">{{title}}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">          
            {% include 'app/modelstatus.html'%}
        </div>
    </div>

    <div class="row">
        <form action="{% url form_url %}" method="post">
            {% csrf_token %}
            <div class="col-lg-12">
                {% include form_html %}
            </div>
        </form>
    </div>


    <div class="row">
        <div class="col-lg-12">

            {% if groupowner_id != 0 and filter != 0 %}
            {% url index_url groupowner_id filter as index_url%}
            {% elif groupowner_id != 0 %}
            {% url index_url groupowner_id as index_url%}
            {% elif filter != 0 %}
            {% url index_url filter as index_url%}
            {% else %}
            {% url index_url as index_url %}
            {% endif %}

            <a href="{{ index_url }}">Index</a>
            <span>  |  </span>
            <a href="{% url 'home' %}">Home</a>

        </div>
    </div>


</div>
{% endblock %}

{% block scripts %}
{% load staticfiles %}
{% for script in scripts %}
<script src="{% static script %}"></script>
{% endfor %}
{% endblock %}