{% load tags %}

<table class="table">
    <tr>
        <th>
            {{header_label_item}}
        </th>

        {% if site_user.is_superuser %}
                <th>
                    {{header_label_groupowner}}
                </th>
        {% endif %}

        <th></th>
    </tr>

    {% for item in items %}
    <tr>
        <td>
            <a href="{% url item_url groupowner_id filter %}">{{item.name}}</a>
        </td>

        {% if site_user.is_superuser %}
            <td>
                {{item.groupowner.name}}
            </td>
        {% endif %}

        <td>
                <a href="{% url edit_url item.id groupowner_id filter %}">Edit</a>
                <span>  |  </span>
                <a href="{% url details_url item.id groupowner_id filter %}">Details</a>
                <span>  |  </span>
                <a href="{% url delete_url item.id groupowner_id filter %}">Delete</a>

        </td>
    </tr>
    {% endfor %}
</table>
