{% load tags %}
<ul class="pagination pagination-sm custom-page">

    {% if filter == None or filter == 0 %}
        <li class="active"><a href="{% url index_url groupowner_id filter %}">No Filter</a></li>
        {% filter_1 filter as filter %}
        <li><a href="{% url index_url groupowner_id filter %}">Grp. Own</a></li>
    {% elif filter == 1 %}
        {% filter_0 filter as filter%}   
        <li><a href="{% url index_url groupowner_id filter %}">No Filter</a></li>
        {% filter_1 filter as filter %}
        <li class="active"><a href="{% url index_url groupowner_id filter %}">Grp. Own</a></li>
    {% endif %}

</ul>
