<ul class="pagination pagination-sm custom-page">
    {% if filter == None or filter == 0 %}
        <li class="active"><a href="/poolgroup?filter=0&groupowner_id={{groupowner_id}}">No Filter</a></li>
        <li><a href="/poolgroup?filter=1&groupowner_id={{groupowner_id}}">Grp. Own</a></li>
    {% endif %}
    {% if filter == 1 %}
        <li><a href="/poolgroup?filter=0&groupowner_id={{groupowner_id}}">No Filter</a></li>
        <li class="active"><a href="/poolgroup?filter=0&groupowner_id={{groupowner_id}}">Grp. Own</a></li>
    {% endif %}

</ul>
