{% load poolowner_tags %}
<ul class="pagination pagination-sm custom-page">

    {% if filter == 0 %}
        <li class="active"><a href="{% url index_url 0 0 0%}">No Filter</a></li>
        <li><a href="{% url index_url 0 groupowner_id 1 %}">Grp. Own</a></li>
        <li><a href="{% url index_url poolgroup_id 0 2 %}">P. Grp.</a></li>

    {% elif filter == 1 %}
        <li><a href="{% url index_url 0 0 0 %}">No Filter</a></li>
        <li class="active"><a href="{% url index_url 0 0 0 %}">Grp. Own</a></li>
        <li><a href="{% url index_url poolgroup_id groupowner_id 3 %}">P. Grp.</a></li>
    {% elif filter == 2 %}
        <li><a href="{% url index_url 0 0 0 %}">No Filter</a></li>
        <li><a href="{% url index_url poolgroup_id groupowner_id 3 %}">Grp. Own</a></li>
        <li class="active"><a href="{% url index_url 0 0 0 %}">P. Grp.</a></li>
    {% elif filter == 3 %}
        <li><a href="{% url index_url 0 0 0 %}">No Filter</a></li>
        <li class="active"><a href="{% url index_url poolgroup_id 0 2 %}">Grp. Own</a></li>
        <li class="active"><a href="{% url index_url 0 groupowner_id 1 %}">P. Grp.</a></li>
    {% endif %}

</ul>
