<ul class="pagination pagination-sm custom-page">

    {% if filter == 0 %}
        <li class="active"><a href="{% url index_url 0 0 groupowner_id 0%}">No Filter</a></li>
        <li><a href="{% url index_url 0 poolgroup_id groupowner_id 1 %}">P. Grp.</a></li>
        <li><a href="{% url index_url poolowner_id 0 groupowner_id 2 %}">P. Own.</a></li>

    {% elif filter == 1 %}
        <li><a href="{% url index_url 0 0 groupowner_id 0 %}">No Filter</a></li>
        <li class="active"><a href="{% url index_url 0 0 groupowner_id 0 %}">P. Grp.</a></li>
        <li><a href="{% url index_url poolowner_id poolgroup_id groupowner_id 3 %}">P. Own.</a></li>
    {% elif filter == 2 %}
        <li><a href="{% url index_url 0 0 groupowner_id 0 %}">No Filter</a></li>
        <li><a href="{% url index_url poolowner_id poolgroup_id groupowner_id 3 %}">P. Grp.</a></li>
        <li class="active"><a href="{% url index_url 0 0 groupowner_id 0 %}">P. Own.</a></li>
    {% elif filter == 3 %}
        <li><a href="{% url index_url 0 0 groupowner_id 0 %}">No Filter</a></li>
        <li class="active"><a href="{% url index_url poolowner_id 0 groupowner_id 2 %}">P. Grp.</a></li>
        <li class="active"><a href="{% url index_url 0 poolgroup_id groupowner_id 1 %}">P. Own.</a></li>
    {% endif %}

</ul>
