<table class="table">

    <tr>
        <th>
            {{header_label_item}}
        </th>

        <th>
            {{header_label_poolowner}}
        </th>

        <th>
            {{header_label_cronjob}}
        </th>

        <th>
            {{header_label_poolgroup}}
        </th>

        {% if site_user.is_superuser %}
        <th>
            {{header_label_groupowner}}
        </th>                
        {% endif %}
        {% if site_user.is_superuser or site_user.is_groupowner %}
        <th></th>
        {% endif %}
        <th></th>
    </tr>

    {% for item in items %}
    <tr>
        <td>
        {% if site_user.is_superuser %}
            <a href="{% url item_url item.id poolowner_id poolgroup_id groupowner_id filter %}">{{item.name}}</a>
        {% elif site_user.is_groupowner and not site_user.is_superuser %}
            <a href="{% url item_url item.id poolowner_id poolgroup_id groupowner_id filter %}">{{item.name}}</a>
        {% else %}
            <a href="{% url item_url item.id poolowner_id poolgroup_id groupowner_id filter %}">{{item.name}}</a>
        {% endif %}

        </td>

        <td>
            {{item.poolowner.name}}
        </td>
            
        <td>
            {{item.cronjob.name}}
        </td>
            
        <td>
            {{ item.poolgroup.name}}
        </td>

        {% if site_user.is_superuser %}
        <td>
            {{item.poolgroup.groupowner.name}}
        </td>
        {% endif%}

        {% if site_user.is_superuser or site_user.is_groupowner %}
        <td>
            <a href="{% url transfer_url item.id poolowner_id poolgroup_id groupowner_id filter %}">Transfer Pool Ownership</a>            
        </td>
        {% endif %}
        <td>
            <a href="{% url edit_url item.id poolowner_id poolgroup_id groupowner_id filter %}">Edit</a>
            <span>  |  </span>
            <a href="{% url details_url item.id poolowner_id poolgroup_id groupowner_id filter %}">Details</a>
            <span>  |  </span>
            <a href="{% url delete_url item.id poolowner_id poolgroup_id groupowner_id filter %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
