{% extends "app/layout.html" %}

{% block content %}
<div id="home-view-id" class="row">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="partial-view-title">{{title}}</h2>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type ="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nfl-navbar" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'nfl:home' 0 %}">Pool Host</a>

                </div>

                <div class="collapse navbar-collapse" id="nfl-navbar">
                    <ul class="nav navbar-nav">
                        {% if link_id == 0 %}
                        <li><a href="{% url 'nfl:home' 1 %}">NFL </a></li>
                        <li><a href="{% url 'nfl:home' 2 %}">Schedule </a></li>
                        <li><a href="{% url 'nfl:home' 3 %}">Standings </a></li>
                        {% elif link_id == 1 %}
                        <li class="active"><a href="{% url 'nfl:home' 0 %}">NFL <span class="sr-only">(current)</span></a></li>
                        <li><a href="{% url 'nfl:home' 2 %}">Schedule </a></li>
                        <li><a href="{% url 'nfl:home' 3 %}">Standings </a></li>
                        {% elif link_id == 2 %}
                        <li><a href="{% url 'nfl:home' 1 %}">NFL </a></li>
                        <li class="active"><a href="{% url 'nfl:home' 0%}">Schedule <span class="sr-only">(current)</span></a></li>
                        <li><a href="{% url 'nfl:home' 3 %}">Standings </a></li>
                        {% else %}
                        <li><a href="{% url 'nfl:home' 1%}">NFL </a></li>
                        <li><a href="{% url 'nfl:home' 2%}">Schedule </a></li>
                        <li class="active"><a href="{% url 'nfl:home' 0%}">Standings <span class="sr-only">(current)</span></a></li>
                        {% endif %}

                        {% if site_user.is_superuser %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" role="button" 
                                   aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
                                {% include 'nfl/admin.html' %}
                            </li>
                        {% endif %}
                    </ul>
                </div>

            </nav>
        </div>
    </div>

</div>
{% endblock %}

{% block scripts %}
{% load staticfiles %}
{% for script in scripts %}
<script src="{% static script %}"></script>
{% endfor %}
{% endblock %}