    <ul class="pagination pagination-sm custom-page-2" id="conference_id">
        {% if conference_id != 0 %}
            {% for conference in conferences %}
                {% if conference.id == conference_id %}
                    <li class="active">
                        {% include conference_pagination_link_html %}
                    </li>
                {% else %}
                    <li>
                        {% include conference_pagination_link_html %}
                    </li>
                {% endif %}
            {% endfor %}
        {% endif %}
    </ul>
