{% load tags_groupowner%}

<table class="table">
    <tr>
        <th>
            {{ header_label_item }}
        </th>

        <th></th>
    </tr>

    {% for  item in items %}
    <tr>
        <td>
            {% change_name item.id as groupowner_id %}
            <a href="{% url item_url  groupowner_id %}">{{item.name}}</a>
        </td>

        <td>
            <a href="{% url details_url groupowner_id %}">Details</a>
            <span>  |  </span>
            <a href="{% url delete_url groupowner_id %}">Delete</a>

        </td>
    </tr>
    {% endfor %}
</table>
